<div class="container">
  <h2>Listar Vendas</h2>

  <div class="form-group">
    <label for="id_customer">ID do Cliente:</label>
    <select style="margin-bottom: 5px;" class="form-control" id="id_customer" type="number" [(ngModel)]="id_customer">
      <option value="">Selecione um cliente</option>
      <option *ngFor="let customer of customers" [ngValue]="customer.id_customer">{{ customer.cpf }}</option>
    </select>

    <button class="btn card-body-budeg" style="color: white;" (click)="carregarCustomer()">Carregar Customer</button>
  </div>

  <h3>Dados do Cliente</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID Pedido</th>
        <th>CPF</th>
        <th>Nome</th>
        <th>Valor</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="customer"> </tr>
      <tr *ngFor="let pedido of pedidosFiltrados">
        <td>{{ pedido.id_pedido }}</td>
        <td>{{ customer.cpf }}</td>
        <td>{{ customer.firstName }} {{ customer.secondName }}</td>
        <td>{{ pedido?.item?.valor }}</td>
        
      </tr>
    </tbody>
  </table>


  <h3>Pedidos do Cliente</h3>
<table class="table">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pedido of pedidosFiltrados">
      <td>{{ pedido?.item?.nome_item }}</td>   
      <td>{{ pedido.quantidade }}</td>
    </tr>
  </tbody>
</table>
