<div class="container">
  <h2>Cadastrar Pedido do Cliente</h2>

  <div class="form-group " >
    <label for="id_customer">Escolha o Customer:</label>

    <select style="margin-bottom: 5px;" class="form-control" id="id_customer" [(ngModel)]="id_customer">
      <option value="">Selecione um cliente</option>
      <option *ngFor="let customer of customers" [value]="customer.id_customer">{{ customer.cpf }}</option>
    </select>

    <button class="btn  card-body-budeg" (click)="buscarCliente()" style="color: white;">Buscar Customer</button>
  </div>

  <div *ngIf="customer" class="card-budeg">
    <h3>Detalhes do Cliente</h3>
    <p><strong>Nome:</strong> {{ customer.firstName }}</p>
    <p><strong>Sobrenome:</strong> {{ customer.secondName }}</p>
  </div>

  <div class="form-group">
    <label for="id_item">Escolha o Item:</label>
    <select  style="margin-bottom: 5px;" class="form-control" id="id_item" [(ngModel)]="id_item">
      <option value="">Selecione um item</option>
      <option *ngFor="let item of itens" [value]="item.id_item">{{ item.nome_item }}</option>
    </select>
    <button class="btn card-body-budeg" (click)="buscarItem()"  style="color: white;">Buscar Item</button>
  </div>

  <div *ngIf="item">
    <h3>Detalhes do Item</h3>
    <p><strong>Descrição:</strong> {{ item.nome_item }}</p>
    <p><strong>Valor Unitário:</strong> {{ item.valor }}</p>
  </div>

  <div class="form-group">
    <label for="quantidade">Quantidade:</label>
    <input type="number" class="form-control" id="quantidade" [(ngModel)]="quantidade" (change)="calcularValorFinal()" />
  </div>

  <div class="form-group">
    <label for="valorFinal">Valor Final:</label>
    <input type="text" class="form-control " id="valorFinal" [(ngModel)]="valorFinal" readonly />
  </div>

  <div class="button-group">
    <button class="btn  card-body-budeg" style="margin-right: 5px;color: white; background-color: rgb(0, 109, 73);" (click)="calcularValorFinal()">Calcular Valor Final</button>
    <button class="btn  card-body-budeg" style="margin-right: 5px;color: white; background-color: rgb(0, 110, 174);" [routerLink]="['/pedido/list']" (click)="cadastrarPedido()">Cadastrar Pedido</button>
  </div>
</div>
