<div class="container text-center">
  <div class="row align-items-center margin-budeg">

    <div class="col-4">
      <div class="card card-body-budeg" style="width: 18rem;">
        <br>
          <a [routerLink]="['/customer/list']" class="card-budeg" style="color: aliceblue">CADASTRAR CLIENTES </a>
        <br>
      </div>
    </div>

    <div class="col-4">
      <div class="card card-body-budeg" style="width: 18rem;">
        <br>
          <a [routerLink]="['/item/list']" class="card-budeg" style="color: aliceblue">CADASTRO DE ITENS </a>
        <br>
      </div>
    </div>

    <div class="col-4">
      <div class="card card-body-budeg" style="width: 18rem;">
        <br>
          <a [routerLink]="['/pedido/register']" class="card-budeg" style="color: aliceblue">REALIZAR PEDIDOS </a>
        <br>
      </div>
    </div>
  </div>
</div>
