<table class="table table-striped table-bordered table-hover" style="margin: 6px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Primeiro Nome</th>
            <th>Segundo Nome</th>
            <th class="text-center">
                <a [routerLink]="['/customer/register']" 
                class="btn btn-xs card-body-budeg" style="background-color: rgb(90, 104, 255); color:white">
                    <i class="fa fa-plus" aria-hidden="true"></i> Novo
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers ">
            <td class="tabble-budeg">{{ customer.id_customer }}</td>
            <td class="tabble-budeg">{{ customer.firstName }}</td>
            <td class="tabble-budeg">{{ customer.secondName }}</td>
            <td class="text-center" style="width: 300px">
                
                <a [routerLink]="['/customer/register', customer.id_customer]" class="btn btn-xs card-body-budeg"
                     style="color: white; margin: 6px;">
                <i class="fa fa-edit" aria-hidden="true"></i> Editar
                </a>
                <a [routerLink]="['/customer/list']" href="#" title="Remover" alt="Remover" class="btn btn-xs card-body-budeg"
                style="background-color: #ff5a5e;color: white;"
                (click)="remover(customer)"> 
                    <i class="fa fa-times" aria-hidden="true"></i> Remover
                </a>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="customers.length == 0" style="margin: 6px;">Nenhuma pessoa cadastrada.</p>
